body, html {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    background: #f4f4f4;
    color: #333;
    scroll-behavior: smooth;
}
header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: left; /* Changed to left-align */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
header a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-family: 'Source Code Pro', monospace;
    transition: color 0.3s ease; /* Transition for color change on hover */
}
header a:hover {
    color: #ADD8E6; /* Light blue color on hover */
}
.nav-links {
    display: flex;
    align-items: center;
    height: 100%;
}
.container {
    margin-top: 60px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.full-height {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 25px; /* Reduced by 50% from 50px */
}
.info-section-bg {
    background-color: #eb8873;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.image-border {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    max-width: 400px;
    min-width: 300px;
}
.btn {
    background-color: #007BFF; /* Initial color blue */
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    transition: background-color 1s ease; /* Slower transition */
}
.btn:hover {
    background: #28a745; /* Ends at green */
    color: #ffffff;
}
.btn:active {
    background-color: #800080; /* Click color purple */
}
.section-title {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
    font-size: 34px;
}
.subtitle {
    font-size: 18px;
    display: block;
    margin-top: 20px;
    font-weight: bold;
}
.main-title {
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    margin-top: 60px;
}
@media (min-width: 768px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .full-height {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .text-block {
        max-width: 45%;
    }
    .nav-links {
        display: flex; /* Horizontal alignment of links */
        justify-content: start; /* Left align links */
    }
}

